body { }

.white-text { color: #fff;}

textarea.form-control { height: 200px; max-height: 400px;}
.previewImage {  display: block;  margin: 10px;  max-width: 50%;  max-height: 300px;}
.listImage { display: block; max-width: 350px;}
.errors { color:  #dd4b39 !important;}


.clearfix:before, .clearfix:after { clear: both;}
.minFormElem { min-height: 34px;  }
.minFormElem label input { display: inline-block; margin: 0 5px; vertical-align: middle;}

/* scraped data */

.extendedRow, .occupancy_dropdown_wrapper ul, .gently_select_rooms_container  { display: none;}

.roomMultiRoomPrice, #nr_rooms_header, #bookNow1, th[data-track-onview], .conditions_tt, .ico_policy_info  { display: none;}
.ratepolicy, .smll_roomphoto, .roomType .small, .roomPriceSoldOut   { display: none;}
.rtshown tr, .incExcInPriceNew, .hp-rt-inc-exc, .highlighted_facilities_reinforcement, .urgency_message_red, .rt-room-info { display: none;}
.rtshown tr[data-occupancy], .rtshown tr.maintr, #maxotel_table_header { display: table-row;}
.rtshown .canwrap { display: table-cell;}

.occupancyDaily { padding-bottom: 10px;}
.occupancyDaily span { display: inline-block; width: 150px; vertical-align: middle;}
.occupancyDaily span.percentage { display: inline-block; width: 100px;}

.fileUploadBtn { width: 150px; display: block; margin-bottom: 10px;}

.bold { font-weight: bold;}

.rtshown { font-size: 12px;}
.rtshown table { width: 100%;}

.tableCol { table-layout: fixed;}
.tableCol td:first-child, .tableCol td:nth-of-type(6) { width: 20%;}
.tableCol td:nth-of-type(2), .tableCol td:nth-of-type(3), .tableCol td:nth-of-type(4), .tableCol td:nth-of-type(5) { width: 15%;}

#overlay { background: rgba(0,0,0,0.8); z-index: 99999; position: fixed; top:0; left: 0; width: 100%; height: 100%; display: none;}
#overlay h1 { color: #fff; z-index: 99999; position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); text-align: center; font-size: 24px; margin: 0;}
.tableFixed table { width: 100%; table-layout: fixed;}