<div class="">
<h2>Opcje witryny</h2>
    <table cellspacing="0" cellpadding="0" class="table table-bordered table-striped customTable">
        <thead>
            <tr>
                <th>Opcja</th>
                <th>Wartość</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($this->list as $opt): ?>
            <tr>
                <td><?php echo $opt->opt_name ?></td>
                <td><?php echo $opt->getValue() ?></td>
                <td> <a class="btn small" href="<?php echo $this->url(array('controller' => 'options', 'action' => 'edit', 'id' => $opt->opt_id), null,true); ?>"> Edytuj </a></td>
            </tr>
        <?php endforeach ?>

        </tbody>
    </table>

</div>


