<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Wprowadź ID produktu z Ceneo</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal loadForm">
        <div class="box-body">
            <div class="form-group">
                <label for="ID" class="col-sm-2 control-label">Id</label>

                <div class="col-sm-10">
                    <input type="text" name="productid" class="form-control" id="ID" placeholder="ID">
                </div>
            </div>


        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-info loadDataTrigger ">Pobierz Dane (E)</button>
            <button type="button" class="btn btn-info transformTrigger disabled">Transformuj Dane (T)</button>
            <button type="button" class="btn btn-info saveDataTrigger disabled">Załaduj Dane (L)</button>
            <button type="button" class="btn btn-danger pull-right etlTrigger ">Przeprowadź proces ładowania (ETL)</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>

<div style="padding: 50px 0 20px;">
    <a href="<?php echo $this->url(array('controller' => 'index', 'action' => 'truncate'), null,true); ?>" class="btn btn-danger">Wyczyść wszystkie opnie</a>
</div>


<div class="modal extract fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pobrano dane</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row box-body">
                    <div class="col-md-4">Produkt:</div>
                    <div class="col-md-8"><span id="product"></span> </div>
                </div>
                <div class="row box-body">
                    <div class="col-md-4">Typ:</div>
                    <div class="col-md-8"><span id="type"></span> </div>
                </div>
                <div class="row box-body">
                    <div class="col-md-4">Liczba pobranych stron z opiniami:</div>
                    <div class="col-md-8"><span id="scrapedData"></span> </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>


<div class="modal transform fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Przetworzono dane produktu</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row box-body">
                    <div class="col-md-4">Liczba opinii z serwisu ceneo:</div>
                    <div class="col-md-8"><span id="ceneoCount"></span> </div>
                </div>
                <div class="row box-body">
                    <div class="col-md-4">Liczba opinii z serwisu morele.net:</div>
                    <div class="col-md-8"><span id="moreleCount"></span> </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div class="modal load fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Dane zostały załadowane</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row box-body">
                    <div class="col-md-4">Liczba nowych opinii</div>
                    <div class="col-md-8"><span id="newCount"></span> </div>
                </div>
                <div class="row box-body">
                    <div class="col-md-4">Liczba niezmienionych opinii</div>
                    <div class="col-md-8"><span id="untouchedCount"></span> </div>
                </div>
                <div class="row box-body">
                    <div class="col-md-4">Strona produktu zawierająca opinie</div>
                    <div class="col-md-8"><a href="" id="productLink">Przejdź</a> </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>