<h1>Ceneo id</h1>
<pre>
    <?php var_dump($this->sess->ceneoID); ?>
</pre>


<h1>product</h1>
<pre>
    <?php var_dump($this->sess->product); ?>
</pre>


<h1>ceneo</h1>
<pre>
    <?php var_dump($this->sess->ceneo); ?>
</pre>


<h1>morele ID</h1>
<pre>
    <?php var_dump($this->sess->moreleID); ?>
</pre>

<h1>morele</h1>
<pre>
    <?php var_dump($this->sess->morele); ?>
</pre>
