<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?php echo $this->headMeta() ?>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/i/favicon.ico">
    <?php echo $this->headTitle() ?>
    <?php echo $this->headLink() ?>
    <?php echo $this->headScript() ?>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue fixed sidebar-mini">

<div class="wrapper">
    <?php echo $this->render('common/_header.phtml') ?>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-body">
                    <?php echo $this->layout()->content; ?>
                </div><!-- /.box-body -->

            </div><!-- /.box -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->





    <?php echo $this->render('common/_footer.phtml') ?>

</div><!-- ./wrapper -->






<div id="overlay"><h1>Wczytywanie danych. Proszę  czekać</h1></div>


<script type="text/javascript">
    cms.mainDomain = '<?php echo $this->config->domainName ?>';
    cms.init();
</script>

</body>
</html>