<div class="grid flex">


    <table cellspacing="0" cellpadding="0" class="table table-bordered table-striped customTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Typ</th>
                <th>Akcje </th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($this->list as $prd): ?>
            <tr>
                <td><?php echo $prd->prd_id ?></td>
                <td><?php echo $prd->manufacturer ?></td>
                <td><?php echo $prd->model ?>   </td>
                <td><?php echo $prd->type ?>   </td>
                <td>

                    <a class="button small" href="<?php echo $this->url(array('controller' => 'product', 'action' => 'product', 'id' => $prd->prd_id), null,true); ?>">
                       Przejdź
                    </a>
                    &nbsp;&nbsp;&nbsp;

                    <a class="button small" target="_blank" href="<?php echo $this->url(array('controller' => 'product', 'action' => 'comments', 'prd_id' => $prd->prd_id), null,true); ?>">
                        Pobierz opinie do pliku csv
                    </a>

                    &nbsp;&nbsp;&nbsp;

                    <a class="button small" href="<?php echo $this->url(array('controller' => 'product', 'action' => 'delete', 'prd_id' => $prd->prd_id), null,true); ?>">
                        Wyczyść opinie
                    </a>


                </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    </table>

</div>


