<div class="grid flex">

    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dane produktu</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">Marka: <?php echo $this->product->manufacturer?> </div>
                <div class="col-md-6">Model: <?php echo $this->product->model?> </div>
            </div>

            <div class="row">
                <div class="col-md-6">Typ: <?php echo $this->product->type ?> </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Opis szczegółowy</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body tableFixed">
                    <?php echo strip_tags($this->product->specs,'<br><table><tr><td><th><tbody><thead><h3>') ?>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Opinie</h3>
        </div>

    </div>

    <div class="row">
        <?php foreach ($this->opinions as $o) : ?>

        <div class="col-sm-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Autor: <?php echo $o->author?></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body tableFixed">

                    <div class="row">
                        <div class="col-sm-12" style="padding: 0 20px 20px;">
                            <?php echo $o->text; ?>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>Data dodania:</td>
                            <td><?php echo $o->getDate() ?></td>
                        </tr>
                        <tr>
                            <td>Zalety</td>
                            <td><?php echo $o->pros ?></td>
                        </tr>
                        <tr>
                            <td>Wady</td>
                            <td><?php echo $o->cons ?></td>
                        </tr>
                        <tr>
                            <td>Rekomendacja</td>
                            <td><?php echo $o->recommend ?></td>
                        </tr>
                        <tr>
                            <td>Posiadanie produktu</td>
                            <td><?php echo $o->possesion ?></td>
                        </tr>

                        <tr>
                            <td>Ocena produktu</td>
                            <td><?php echo $o->rate ?></td>
                        </tr>

                        <tr>
                            <td>Liczba głosów na opinię</td>
                            <td><?php echo $o->rateCount ?></td>
                        </tr>

                        <tr>
                            <td>Ocena procentowa opinii</td>
                            <td><?php echo $o->ratePercent ?>%</td>
                        </tr>
                        <tr>
                            <td>Źródło opinii</td>
                            <td><?php echo $o->getSource() ?></td>
                        </tr>

                    </table>

                    <p  style="padding: 20px 0 20px;">
                        <a href="<?php echo $this->url(array('controller' => 'product', 'action' => 'comments', 'id' => $o->opn_id, 'prd_id' => $o->prd_id), null,true); ?>" target="_blank">
                            Eksportuj opinię do pliku csv
                        </a>
                    </p>

                </div>
                <!-- /.box-body -->
            </div>

        </div>

        <?php endforeach; ?>
    </div>



</div>


