<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>HD ETL</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>HD ETL</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

    </nav>
</header>



<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">

            <div class="white-text">
                <p><?php echo $this->user->usr_name . ' '. $this->user->usr_lastname  ?></p>
                <a href="/auth/logout"><i class="fa fa-circle text-success"></i> Wyloguj</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li <?php if ($this->menu == 'index'): ?> class="active"  <?php endif; ?>>
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>

            </li>

            <li <?php if ($this->menu == 'produkty'): ?> class="active"  <?php endif; ?>>
                <a href="<?php echo $this->url(array('controller'=> 'product', 'action' => 'index')) ?>">
                    <i class="fa fa-folder-open"></i> <span>Produkty</span>
                </a>

            </li>



            <li class="treeview <?php if ($this->menu == 'cmsusers'): ?> active <?php endif; ?>">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Użytkownicy</span>
                    <i class="fa fa-angle-left pull-right"> </i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo $this->url(array('controller'=> 'cmsuser', 'action' => 'index')) ?>"><i class="fa fa-circle-o"></i> Lista </a></li>
                    <li><a href="<?php echo $this->url(array('controller'=> 'cmsuser', 'action' => 'new')) ?>"><i class="fa fa-circle-o"></i> Nowy </a></li>
                </ul>
            </li>
            <li <?php if ($this->menu == 'options'): ?> class="active"  <?php endif; ?> >
                <a href="<?php echo $this->url(array('controller'=> 'options', 'action' => 'index')) ?>">
                    <i class="fa fa-cube"></i> <span>Opcje witryny</span>
                </a>
            </li>

            <li <?php if ($this->menu == 'changeuser'): ?> class="active"  <?php endif; ?> >
                <a href="<?php echo $this->url(array('controller'=> 'cmsuser', 'action' => 'editpassword')) ?>">
                    <i class="fa fa-lock"></i> <span>Zamień hasło</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- =============================================== -->