<?php if($this->pageCount > 1): ?>
    <div class="pages">
        <?php if($this->previous): ?><a href="<?php echo $this->url() ?>,page,<?php echo $this->previous ?>" class="prev"><span>&#x25C4;</span>Back</a><?php endif; ?>
        <span class="info">Page <?php echo $this->current ?> of <?php echo $this->pageCount ?></span>
        <?php if($this->next): ?><a href="<?php echo $this->url() ?>,page,<?php echo $this->next ?>" class="next">Next<span>&#x25BA;</span></a><?php endif; ?>
    </div>
<?php endif; ?>